.container-input {
  text-align: center;
  margin: 25px 25px 25px 25px;
}
.container {
  margin: 25px 25px 25px 25px;
}

.list {
  border: solid 1px #ccc;
  min-height: 60px;
  border-radius: 4px;
}
.example-full-width {
  width: 100%;
}

.txtarea{
  background-color: #424242;
  color: white;
  border: #424242;
  font-family: Roboto;
  font-size: 20px;
}
