<!--App Header-->
<mat-toolbar color="primary">
  <mat-icon>assignment_turned_in</mat-icon>
  <span> Todo App</span>
</mat-toolbar>

<!--App Content-->
<app-todo-list></app-todo-list>

<!--App Footer-->
<!--TODO: Remove-->
<!--<div class="clear"></div>-->
<!--<footer>-->
<!--  <mat-toolbar style="background: #383838; justify-content: center" >-->
<!--    <span>Made with-->
<!--      <span class="heart"></span>-->
<!--      by Bhishman-->
<!--      </span>-->
<!--  </mat-toolbar>-->
<!--</footer>-->
